@{ 
  ViewBag.Title = "Index";    
  Layout = "~/Views/Shared/_AdminLteLayout.cshtml"; 
 }

<style type="text/css">
    .content {
        padding-top: 0px;
    }
</style>

<div ng-controller="ProcessingStageCtrl">
    <div style="padding-bottom:5px;padding-top:5px; font-size:15px" class="row">
        <div class="col-sm-4 text-left">
            <span class="label label-success" style="font-size:1em">{{stageName}}</span>
        </div>
        <div class="col-sm-8 text-right" style="padding-right:15px">
            <span class="label label-info" style="font-size:.9em">{{OwnerLevelName}}</span>
            <i class="fa fa-arrow-circle-right"></i>
            <span class="label label-info" style="font-size:.9em">{{OwnerName}}</span>
            <i class="fa fa-arrow-circle-right"></i>
            <span class="label label-info" style="font-size:.9em">{{DocCategoryName}}</span>
            <i class="fa fa-arrow-circle-right"></i>
            <span class="label label-info" style="font-size:.9em">{{DocTypeName}}</span>
        </div>
    </div>
    <div class="box box-primary box-body" ng-if="isUserMaker || isUserChecker">

        <div class="box-header" style="padding-bottom: 0px; padding-top:0px">
            <i class="fa fa-table"></i>
            <h4 class="box-title">Manage Document</h4>
        </div>
        <div class="box-body">
            <div ng-bind-html="tableData" style="overflow-y:scroll;" compile-template></div>
            <div ng-if="pagingInfo.totalItems > 0 " class="text-center">
                <ul uib-pagination total-items="pagingInfo.totalItems" ng-model="pagingInfo.page" items-per-page="pagingInfo.itemsPerPage" max-size="7" boundary-links="true" rotate="true" force-ellipses="true" ng-change="selectPage()"></ul>
            </div>
        </div>
    </div>
    <div class="box box-primary box-body" ng-if="isFirstStage && hasMake && isUserMaker">

        <div class="box-header" style="padding-bottom: 0px; padding-top:0px">
            <i class="fa  fa-table"></i>
            <h4 class="box-title">Generate Document</h4>
        </div>
        <div class="box-body">
            <form name="AddPropType" novalidate>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="box box-success" ng-if="docGenerationModelCollection.propsForSpecificDocType.length > 0">
                       
                            <div class="box-header with-border">
                                <h3 class="box-title">Fill Properties</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6" ng-repeat="prop in docGenerationModelCollection.propsForSpecificDocType">
                                        <div class="form-group row" style="margin-bottom: 0px;" ng-class="{'has-error' : AddPropType['f_' + $index].$invalid && AddPropType['f_' + $index].$touched}">
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <label for="f_{{$index}}" class="control-label">{{prop.PropertyName}}{{(prop.IsRequired && (prop.StageMapID == stageID))?'*':''}} </label>
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="{{prop.PropertyType}}" class="form-control" id="f_{{$index}}" name="f_{{$index}}" ng-model="prop.PropertyValue" ng-required="prop.IsRequired && (prop.StageMapID == stageID)" ng-disabled="prop.StageMapID != stageID" />
                                                <div style="height:20px">
                                                    <span class="help-block" style="margin-bottom: 0px;margin-top: 0px;" ng-if="AddPropType['f_' + $index].$invalid && AddPropType['f_' + $index].$touched">{{prop.PropertyName}} is invalid.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row" ng-repeat="tt in docGenerationModelCollection.listPropsForSpecificDocType track by $index" ng-init="p_index=$index">
                                    <h4 class="text-center">Add {{tt.PropertyName}}</h4>
                                    <div class="col-sm-5 col-md-5 col-lg-5" ng-repeat="item in tt.ColumnList track by $index" ng-if="tt.ColumnList[$index].FieldTitle != 'ID' && tt.ColumnList[$index].FieldTitle != 'ObjectID'">
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <label for="F_{{tt.ColumnList[$index].FieldTitle}}" class="control-label">{{tt.ColumnList[$index].FieldTitle}} </label>
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8" ng-if="tt.ColumnList[$index].RelationID == 0">
                                                <input class="form-control" name="F_{{tt.ColumnList[$index].FieldTitle}}" ng-model="tt.ColumnList[$index].Value" />
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8" ng-if="tt.ColumnList[$index].RelationID > 0">
                                                <select ng-model="tt.ColumnList[$index].Value" class="form-control" ng-init="tt.ColumnList[$index].Value='';getMasterDg(p_index,$index,tt.ColumnList[$index].Master)">
                                                    <option value="">--Select--</option>
                                                    <option value="{{m.ID}}" ng-repeat="m in tt.ColumnList[$index].List">{{m.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" ng-click="docGenerationVM.AddNewListItem(tt,$index)">Add New</button>
                                    <button type="button" class="btn btn-primary" ng-click="docGenerationVM.RemoveListItem($index)">Remove</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label>Documents</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <input type="button" class="btn btn-flat btn-primary" value="Select All" ng-click="docGenerationVM.SelectAll()" />
                        <input type="button" class="btn btn-flat btn-primary" value="Unselect All" ng-click="docGenerationVM.UnSelectAll()" />

                        <div ng-repeat="docProperty in docGenerationModelCollection.docsForSpecificDocType">
                            <input type="checkbox" name="DocProperty" ng-model="docProperty.IsSelected" ng-init="docProperty.IsSelected=(docProperty.DocClassification=='Required' && docProperty.StageMapID == stageID)" ng-disabled="(docProperty.StageMapID != stageID || docProperty.DocClassification =='Required')" />{{docProperty.DocPropertyName}}
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <label>Process Documents: </label>
                    <button class="btn btn-sm btn-flat bg-green-active" ng-click="scanToJpg()">
                        <i class="fa fa-print"></i> Scan
                    </button>
                    <a class="btn btn-sm btn-flat" style="background-color: #80a247; color: white" data-ng-click="ShowUploadFileDiv()">
                        <i class="fa fa-inbox"></i> Load PDF
                    </a>
                    <a class="btn btn-sm btn-flat" style="background-color: #FFD6D5; " ng-click="RemoveImage_New()">
                        <i class="fa fa-remove"></i> Remove
                    </a>
                    <a class="btn btn-sm btn-flat" style="background-color: #E5E4E2; " ng-click="RotateImage()">
                        <i class="fa fa-rotate-right"></i> Rotate
                    </a>
                    <a class="btn btn-sm btn-flat" style="background-color: #c9c9c9;" data-ng-click="ShowMoveImageDiv()">
                        <i class="fa fa-exchange"></i> Move Image
                    </a>


                </div>
            </div>
            <br />
            <div class="row">
                <div id="LoadPdf" class="row hidden">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="file" id="file_upload" name="file_upload" multiple ng-model="file_upload" accept=".pdf" />
                            </div>
                            <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-sm" ng-click="LoadPdf()"> <i class="fa fa-inbox"></i> Load PDF</button></div>
                        </div>

                    </div>
                </div>
                <div id="MoveImage" class="row hidden">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-2"> Which Image:</div>
                            <div class="col-lg-2"><input type="number" id="WhichImage" placeholder="1" style="width: 70px;" /> </div>
                            <div class="col-lg-1"> Where:</div>
                            <div class="col-lg-2"><input type="number" id="Where" placeholder="2" style="width: 70px;" /> </div>
                            <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-sm" ng-click="MoveImage()">Move</button></div>
                        </div>
                    </div>
                </div>             
            </div>
      
            <div class="row" >
                <div class="col-lg-12">
                    <div id="dwtHorizontalThumbnil" style="height:200px;width:100%"></div>
                </div>
            </div>
        </div>
        <div class="box-footer with-border">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="button" id="btnSave" ng-disabled="AddPropType.$invalid" class="btn btn-lg btn-primary btn-flat pull-right btnSave" data-ng-click="docGenerationVM.ShowConfirmModal()"><i class="fa fa-save"></i>  Save</button>
                    <button type="button" id="btnRefresh" data-ng-click="toggleRefreshTable()" class="btn btn-lg btn-default btn-flat pull-left" ng-disabled="loading"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div>
        </div>
    </div>
    <div id="ConfirmSave" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Are You Sure?</h3>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <h4>You Want to Upload the Documents?</h4>
                        </div>
                    </div><!-- /.box-body -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="yes" class="btn btn-danger" ng-disabled="loading" data-ng-click="SaveImage()">Yes</button>                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>




    <div id="docMakerModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 class="modal-title">Make Document</h3>
                </div>
                <div class="modal-body">
                    <form name="UpdateDocForm" novalidate>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6" ng-repeat="prop in docMakeCheckModelCollection.updatePropertyCollection">
                                <div class="form-group row" style="margin-bottom: 0px;" ng-class="{'has-error' : UpdateDocForm['f_' + $index].$invalid && UpdateDocForm['f_' + $index].$touched}">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label for="f_{{$index}}">{{prop.PropertyName}}{{(prop.IsRequired && (prop.StageMapID == stageID))?'*':''}}</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input name="f_{{$index}}" type="{{prop.StageMapID == stageID?prop.PropertyType:'text'}}" value="{{prop.PropertyValue}}" ng-model="prop.PropertyValue" class="form-control" ng-required="prop.IsRequired && (prop.StageMapID == stageID)" ng-disabled="prop.StageMapID != stageID" />
                                        <div style="height:20px">
                                            <span ng-if="UpdateDocForm['f_' + $index].$touched && UpdateDocForm['f_' + $index].$invalid" class="help-block" style="margin-bottom: 0px;margin-top: 0px;">{{prop.PropertyName}} is invalid.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="item in docMakeCheckModelCollection.listPropertyCollectionMk">
                            <div ng-bind-html="item" compile-template></div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <table class="table table-condensed table-bordered table-striped table-hover pnlView">
                                    <tr>
                                        <th>Documents</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr ng-repeat="item in docMakeCheckModelCollection.updateDocumentCollection">
                                        <td>{{item.DocPropertyName}}</td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-xs" ng-click="docMakeCheckVM.GetImage(item)" ng-disabled="item.StageMapID != stageID"><i class="fa fa-edit"></i> Edit</button>
                                            <button type="button" ng-disabled="item.IsPermitted" class="btn btn-info btn-xs" ng-click="LargeViewOfMakeCheck(item)"><i class="fa fa-search-plus"></i> Quick View</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <input type="button" class="btn btn-flat btn-primary" value="Select All" ng-click="docMakeCheckModelCollection.SelectAll()" />
                                <input type="button" class="btn btn-flat btn-primary" value="Unselect All" ng-click="docMakeCheckModelCollection.UnSelectAll()" />

                                <div ng-repeat="docProperty in docMakeCheckModelCollection.newDocumentCollection">
                                    <input type="checkbox" name="DocProperty" ng-model="docProperty.IsSelected" ng-init="docProperty.IsSelected=(docProperty.DocClassification=='Required' && docProperty.StageMapID == stageID)" ng-disabled="(docProperty.StageMapID != stageID || docProperty.DocClassification =='Required')" />{{docProperty.DocPropertyName}}
                                </div>
                            </div>
                            <div ng-if="docMakeCheckModelCollection.IsBacked" class="col-sm-3 col-md-3 col-lg-3 text-left">
                                <p><b>Document is backed because:</b> {{docMakeCheckModelCollection.BackReason}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Process Documents: </label>
                                <button class="btn btn-sm btn-flat bg-green-active" ng-click="scanToJpg_MakerModal()">
                                    <i class="fa fa-print"></i> Scan
                                </button>
                                <a class="btn btn-sm btn-flat" style="background-color: #80a247; color: white" data-ng-click="ShowUploadFileDiv_MakerModal()">
                                    <i class="fa fa-inbox"></i> Load PDF
                                </a>
        
                                <a class="btn btn-sm btn-flat" style="background-color: #FFD6D5; " ng-click="RemoveImage_New_MakerModal()">
                                    <i class="fa fa-remove"></i> Remove
                                </a>
                                <a class="btn btn-sm btn-flat" style="background-color: #E5E4E2; " ng-click="RotateImage_MakerModal()">
                                    <i class="fa fa-rotate-right"></i> Rotate
                                </a>
                                <a class="btn btn-sm btn-flat" style="background-color: #c9c9c9;" data-ng-click="ShowMoveImageDiv_MakerModal()">
                                    <i class="fa fa-exchange"></i> Move Image
                                </a>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div id="LoadPdfMakerModal" class="row hidden">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="file" id="file_uploadMake" name="file_uploadMake" multiple ng-model="file_uploadMake" accept=".pdf" />
                                        </div>
                                        <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-sm" ng-click="LoadPdfMakerModal()"> <i class="fa fa-inbox"></i> Load PDF</button></div>
                                    </div>

                                </div>
                            </div>
                            <div id="MoveImageMakerModal" class="row hidden">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-2"> Which Image:</div>
                                        <div class="col-lg-2"><input type="number" id="WhichImage" placeholder="1" style="width: 70px;" /> </div>
                                        <div class="col-lg-1"> Where:</div>
                                        <div class="col-lg-2"><input type="number" id="Where" placeholder="2" style="width: 70px;" /> </div>
                                        <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-sm" ng-click="MoveImageMakerModal()">Move</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12" id="viewerHolder">
                                <div id="dwtHTMakeCreate" style="height:200px;"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <div ng-repeat="item in docMakeCheckModelCollection.ParentStages">
                        <div class="row  ">
                            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1" style="text-align:left">
                                <i class="fa fa-cog"></i>&nbsp;{{item.StageName}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <input type="checkbox" ng-model="item.IsChecked" />
                            </div>

                        </div>
                    </div>

                    <textarea class="form-control pull-left" style="width:200px;height:33px" placeholder="Add a Reason" ng-model="revertFromMake"></textarea>
                    <button class="btn btn-danger pull-left" ng-click="docMakeCheckVM.RevertFromMake(revertFromMake)" ng-disabled="isFirstStage ||!revertFromMake|| revertFromMake==''" type="button" style="margin-left:5px"><i class="fa fa-backward"></i> Back</button>
                    <button class="btn btn-primary pull-right" ng-click="docMakeCheckVM.CreateDocument()" ng-disabled="!UpdateDocForm.$valid" type="button"><i class="fa fa-save"></i> Save & Make</button>
                </div>
            </div>
        </div>
    </div>






    <div id="docCheckerModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 class="modal-title">Check Document</h3>
                </div>
                <div class="modal-body">
                   
                    <form name="CheckDocForm" novalidate>
                        <div class="row">
                            <div ng-repeat="prop in docMakeCheckModelCollection.updatePropertyCollection">
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label>{{prop.PropertyName}}</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <input name="f_{{$index}}" type="text" ng-model="prop.PropertyValue" class="form-control" ng-disabled="prop.StageMapID != stageID" />
                                </div>
                            </div>
                        </div>




                        <div class="row">
                            <div ng-repeat="prop in docMakeCheckModelCollection.listPropertyCollectionCk">
                                <div ng-bind-html="prop" compile-template></div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <table class="table table-condensed table-bordered table-striped table-hover">
                                    <tr>
                                        <td>
                                            Index
                                        </td>

                                        <td>
                                            Document of
                                        </td>
                                        <td>
                                            Actions
                                        </td>
                                    </tr>
                                    <tr ng-repeat-start="item in docMakeCheckModelCollection.allDocumentCollection">
                                        <td>
                                            {{$index+1}}
                                        </td>
                                        <td>
                                            {{item.DocPropertyName}}
                                        </td>
                                        <td>
                                            @*<button type="button" ng-disabled="item.IsPermitted?((item.DocumentID=!'' || item.DocumentID != null)?false:true):true" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#showqview_{{$index}}" ng-click="QuickViewOfCheck(item,$index)">Quick View</button>*@
                                            @*<button type="button" ng-disabled="!item.IsPermitted" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#showqview_{{$index}}" ng-click="QuickViewOfCheck(item,$index)">Quick View</button>*@
                                            <button type="button" ng-disabled="!item.IsPermitted" class="btn btn-info btn-xs" ng-click="LargeViewOfCheck(item)"><i class="fa fa-search-plus"></i> Quick View</button>
                                            @*<button type="button" ng-disabled="(item.DocumentID='' || item.DocumentID = null ) && !item.IsPermitted" class="btn btn-info btn-xs" ng-click="LargeViewOfCheck(item)">Large View</button>*@
                                        </td>
                                    </tr>
                                    <tr style="margin-top:0px;padding-top:0px;margin-bottom:0px;padding-bottom:0px" ng-repeat-end>
                                        <td colspan="3" style="margin-top:0px;padding-top:0px;margin-bottom:0px;padding-bottom:0px">
                                            <div class="box box-success collapse" style="margin:0px;padding:0px" id="showqview_{{$index}}">
                                                <div class="box-header with-border" style="margin:0px;padding:0px">
                                                    <h3 class="box-title">Quick Viewer</h3>
                                                    <div class="box-tools pull-right">
                                                        <button class="btn btn-box-tool" ng-click="Print()"><i class="fa fa-print"></i> Print</button>
                                                    </div>
                                                </div>
                                                <div id="q_view_loader_{{$index}}" style="margin:0px;padding:0px"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-if="docMakeCheckModelCollection.IsBacked" class="text-left">
                            <p><b>Document is backed because:</b> {{docMakeCheckModelCollection.BackReason}}</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div ng-repeat="item in docMakeCheckModelCollection.ParentStages">
                        <div class="row">
                            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1" style="text-align:left">
                                <i class="fa fa-cog"></i>&nbsp;{{item.StageName}}
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <input type="checkbox" ng-model="item.IsChecked" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <textarea class="form-control pull-left" style="width:200px;height:33px" placeholder="Add a Reason" ng-model="revertFromCheck"></textarea>
                            <button type="button" ng-click="docMakeCheckVM.RevertFromCheck(revertFromCheck)" class="btn btn-danger pull-left" ng-disabled="!revertFromCheck||revertFromCheck==''" style="margin-left:5px"><i class="fa fa-backward"></i> Back</button>
                        </div>
                    </div>
                    <br />

           

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <button type="button" ng-click="docMakeCheckVM.DoneChecking()" class="btn btn-primary pull-right"><i class="fa fa-check"></i> Done Check</button>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div id="LargeViewerModal_Check" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title">Large Viewer</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <div id="dwtVTCheck" class="box-body"></div>
                        </div>
                        <div class="col-lg-10">
                            <div id="dwtLVCheck" class="box-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div id="docUpdateModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 class="modal-title">Make Document</h3>
                </div>
                <div class="modal-body">
                  
                    <div class="row">
                        <div class="col-lg-12">
             
                            <label>Process Documents: </label>
                            <button class="btn btn-sm btn-flat bg-green-active" ng-click="scanToJpg_UpdateModal()">
                                <i class="fa fa-print"></i> Scan
                            </button>
                            <a class="btn btn-sm btn-flat" style="background-color: #80a247; color: white" data-ng-click="ShowUploadFileDiv_UpdateModal()">
                                <i class="fa fa-inbox"></i> Load PDF
                            </a>      
                            <a class="btn btn-sm btn-flat" style="background-color: #FFD6D5;" ng-click="RemoveImage_New_UpdateModal()">
                                <i class="fa fa-remove"></i> Remove
                            </a>
                            <a class="btn btn-sm btn-flat" style="background-color: #E5E4E2; " ng-click="RotateImage_UpdateModal()">
                                <i class="fa fa-rotate-right"></i> Rotate
                            </a>
                            <a class="btn btn-sm btn-flat" style="background-color: #c9c9c9;" data-ng-click="ShowMoveImageDiv_UpdateModal()">
                                <i class="fa fa-exchange"></i> Move Image
                            </a>

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div id="LoadPdfUpdateModal" class="row hidden">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="file" id="file_uploadUpdate" name="file_uploadUpdate" multiple ng-model="file_uploadUpdate" accept=".pdf" />
                                    </div>
                                    <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-sm" ng-click="LoadPdfUpdateModal()"> <i class="fa fa-inbox"></i> Load PDF</button></div>
                                </div>

                            </div>
                        </div>
                        <div id="MoveImageUpdateModal" class="row hidden">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-2"> Which Image:</div>
                                    <div class="col-lg-2"><input type="number" id="WhichImage" placeholder="1" style="width: 70px;" /> </div>
                                    <div class="col-lg-1"> Where:</div>
                                    <div class="col-lg-2"><input type="number" id="Where" placeholder="2" style="width: 70px;" /> </div>
                                    <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-sm" ng-click="MoveImageUpdateModal()">Move</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div id="dwtHTMakeUpdate" style="height:200px;"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="docMakeCheckVM.UpdateDocument()" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>

       
    <div id="addNewListItemModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 class="modal-title">Add New List Item</h3>
                </div>
                <div class="modal-body">
                    <div class="row" ng-repeat="item in ListItems.ColumnList track by $index" ng-if="ListItems.ColumnList[$index].FieldTitle != 'ID' && ListItems.ColumnList[$index].FieldTitle != 'ObjectID'">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label for="F_{{ListItems.ColumnList[$index].FieldTitle}}" class="control-label">{{ListItems.ColumnList[$index].FieldTitle}} </label>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8" ng-if="ListItems.ColumnList[$index].RelationID == 0">
                            <input class="form-control" name="F_{{ListItems.ColumnList[$index].FieldTitle}}" ng-model="ListItems.ColumnList[$index].Value" />
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8" ng-if="ListItems.ColumnList[$index].RelationID > 0">
                            <select ng-model="ListItems.ColumnList[$index].Value" class="form-control" ng-init="ListItems.ColumnList[$index].Value='';getMasterMk($index,ListItems.ColumnList[$index].Master)">
                                <option value="">--Select--</option>
                                <option value="{{m.ID}}" ng-repeat="m in ListItems.ColumnList[$index].List">{{m.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="docMakeCheckVM.AddSingleListItem()" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div id="viewerModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 class="modal-title">Image Viewer</h3>
                </div>
                <div class="modal-body">
                    <div class="box-body">             
                        <div id="dwtLargeViewer" class="box-body"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body hidden" id="q-view-body">
        <div id="dwtQuickViewerOfCheck" class="box-body"></div>
    </div>
    <div class="mydiv" ng-if="loading">
        <div class="overlay">
            <div class="loder">
                <img src="~/Content/AdminLTE/img/cube.gif" />
            </div>
        </div>
    </div>
</div>




<script src="~/Content/plugin/Select2/js/select2.min.js"></script>
<script type="text/javascript" src="~/NgScripts/Controller/DocumentMakeCheckStageCtr.js"></script>
<script type="text/javascript" src="~/NgScripts/Services/ImageProcessServices.js"></script>
<script type="text/javascript" src="~/NgScripts/Base/environmentServices.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" type="text/javascript"></script>



<script src="https://cdn.asprise.com/scannerjs/scanner.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Base64/1.2.0/base64.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>



<script type="text/javascript">
    $('.modal').on('hidden.bs.modal', function (e) {
        if ($('.modal').hasClass('in')) {
            $('body').addClass('modal-open');
        }
    });
</script>
