@{ Layout = "~/Views/Shared/_AdminLteLayout.cshtml"; }

<div class="box box-primary box-body" ng-controller="DocumentScanCtr">
    <div class="box-header with-border">
        <i class="fa  fa-table"></i>
        <h3 class="box-title">Document Scanning</h3>

        <div class="box-tools pull-right">
            <button type="button" id="btnRefresh" data-ng-click="toggleRefreshTable()" class="btn btn-default btn-flat pull-right" ng-disabled="loading"><i class="fa fa-refresh"></i> Refresh</button>
       
        </div>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Owner Level</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <select class="form-control" ng-model="docPropIdentityModel.OwnerLevel"
                            ng-options="ownerLevel as ownerLevel.LevelName for ownerLevel in ownerLevels track by ownerLevel.OwnerLevelID">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Owner</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <select class="form-control" ng-model="docPropIdentityModel.Owner"
                            data-ng-options="owner as owner.OwnerName for owner in ownersForSpecificOwnerLevel track by owner.OwnerID"
                            data-ng-disabled="!docPropIdentityModel.OwnerLevel">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Document Category</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <select ui-select2="{ allowClear: true}" id="select-option" ng-model="docPropIdentityModel.DocCat" data-placeholder="Document Category" style="width:100%;" class="form-control">
                        <option value=""></option>
                        <option ng-repeat="item in DocCatForOwner" value="{{item.DocCategoryID}}">{{item.DocCategoryName}}</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Doc Sub Category</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <select ui-select2="{ allowClear: true}" id="select-option" ng-model="docPropIdentityModel.DocTyp" data-placeholder="Document Sub Category" style="width:100%;" class="form-control">
                        <option value=""></option>
                        <option ng-repeat="item in DocTypeForOwner" value="{{item.DocTypeID}}">{{item.DocTypeName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <form name="metaForm" novalidate>
            <div class="row" ng-if="docPropertyForSpecificDocType.length > 0">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label>Documents</label>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">

                    <div ng-repeat="docProperty in docPropertyForSpecificDocType">
                        <div>
                            <input type="checkbox" name="DocProperty" ng-model="docProperty.IsSelected"
                                   ng-change="BindDataToGrid()" /> {{docProperty.DocPropertyName}}
                        </div>

                        <div ng-if="docProperty.IsSelected && (docProperty.email || docProperty.sms)">
                            <p class="input-group col-sm-6">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="docProperty.NotifyDate" ng-change="selectDate(docProperty.NotifyDate,$index,docProperty.dateOptionsExp)" name="NotifyDate_{{$index}}" is-open="docProperty.CalNo.opened" datepicker-options="dateOptionsNotify" ng-required="true" close-text="Close" placeholder="Notification Date" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="docProperty.CalNo.opened=!docProperty.CalNo.opened"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>

                            <p class="input-group col-sm-6">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="docProperty.ExpDate" name="ExpDate_{{$index}}" is-open="docProperty.CalEx.opened" datepicker-options="docProperty.dateOptionsExp" ng-required="true" close-text="Close" placeholder="ExpireDate Date" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="docProperty.CalEx.opened=!docProperty.CalEx.opened;"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>

                    <input type="button" class="btn btn-flat btn-xs btn-primary" value="Select All" ng-click="SelectAll()" />
                    <input type="button" class="btn btn-flat btn-xs btn-primary" value="Unselect All" ng-click="UnSelectAll()" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 table-responsive">
                    <table id="condencedTbl" st-table="GridDisplayCollection" st-safe-src="docPropIdentityGridData"
                           class="table table-condensed table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th st-sort="DocPropertyName">Documents</th>
                                <th st-sort="IdentificationAttribute">Identificaiton Attribute</th>
                                <th st-sort="MetaValue">Search Value</th>
                                <th st-sort="Remarks">Remarks</th>
                                <th st-sort="IsRequired">Is Required</th>
                            </tr>
                            <tr>
                                <th colspan="3">
                                    <input st-search="" placeholder="Search Documents" class="input-sm form-control" type="search" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in GridDisplayCollection">
                                <td class="hidden">{{row.DocMetaID}}</td>
                                <td class="hidden">{{row.DocPropertyID}}</td>
                                <td>{{row.DocPropertyName}}</td>
                                <td>{{row.IdentificationAttribute}}</td>
                                <td class="text-center">
                                    <input type="text" ng-model="row.MetaValue" class="form-control" ng-required="row.IsRequired == '1'"
                                           ng-readonly="{{row.IsAuto}}" ng-blur="revesionNo(row)" />
                                    @*<button type="button" ng-attr-class="{{'btn btn-xs btn-info btn-flat'}}" ng-show="{{row.IsObsoleteIdentity}}" ng-click="revesionNo(row)">
                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                        </button>*@
                                </td>
                                <td class="text-center"><input type="text" ng-model="row.Remarks" class="form-control" /></td>
                                <td class="text-center">
                                    <span ng-attr-class="{{row.IsRequired== '1'? 'label label-danger' : 'label label-success' }}">
                                        {{row.IsRequired== '1' ? 'Required' : 'Optional' }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-10">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h4 class="box-title">Process Documents:</h4>
                            </div>
                            <div class="box-body no-padding">
         
                                <div class="row" ng-show="uploadType==2">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-10">
                                        <input type="file" id="FileUpload1" multiple />
                                    </div>
                                </div>
                                <div class="row" ng-hide="uploadType==2">
                                    <div class="col-lg-12">
                                        <div id="dwtHorizontalThumbnil" class="ds-dwt-container noPadding row"> </div>
                                        <div id="dwtVertical"></div>
                                    </div>
                                </div>
                           

                                <div class="row">
                                    <div id="external-events">
                                        <div class="col-lg-6">
                                            <div class="external-event bg-gray" style="position: relative;">
                                                Scanner
                                                <select id="source" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="external-event bg-gray" style="position: relative;">
                                                Upload Type
                                                <select class="form-control" id="uploadType" name="uploadType" ng-model="uploadType" ng-init="uploadType='1'">
                                                    <option value="1">Normal Upload</option>
                                                    @*<option value="2">Other Upload</option>*@
                                            
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /. box -->
                    </div>
                    <!-- /.col -->

                    <div class="col-md-2" style="padding-left:0px;">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h4 class="box-title">Options</h4>
                            </div>
                            <div class="box-body">
                                <!-- the events -->
                                <div id="external-events">
                                    <div class="external-event bg-yellow" ng-click="scanToJpg()" style="position: relative;">
                                        <i class="fa fa-print"></i> Scan
                                    </div>

                                    <div class="external-event bg-purple" ng-click="BlankImage_New()" style="position: relative;">
                                        <i class="fa fa-pagelines"></i> Load Blank Pdf
                                    </div>
                                

                                    <div ng-click="RemoveImage_New()" class="external-event bg-red" style="position: relative;">
                                        <i class="fa fa-remove"></i> Remove
                                    </div>
                                    <div ng-click="RotateImage()" class="external-event bg-light-blue " style="position: relative;">
                                        <i class="fa fa-rotate-right"></i> Rotate
                                    </div>
                                    <div class="external-event bg-aqua " ng-click="loadPdf()" style="position: relative;">

                                        <i class="fa fa-inbox"></i> Load Pdf
                                    </div>
                                    <input type="file" id="file_upload" name="file_upload"  ng-model="file_upload" accept=".pdf"/>

                                    <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" ng-click="ShowMoveImageDiv()" class="external-event bg-green" style="position: relative;">
                                        <i class="fa fa-reorder"></i> Move Image
                                    </div>

                                    <div id="collapseOne" aria-expanded="false" class="collapse"
                               
                                         style="position: relative; background-color: #baf1d4; border:solid;border-color:green;">
                                        <div style="background-color: #baf1d4">
                                            <div class="form-group">
                                                <label style="color:green">Which Image</label><input type="text" id="WhichImage" style="width: 100%; color: green" />
                                            </div>
                                            <div class="form-group">
                                                <label style="color:green">Where</label><input type="text" id="Where" style="width: 100%; color: green" />
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-success btn-flat btn-sm" ng-click="MoveImage_New()">Move</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <br />
    </div>

    <div class="box-footer with-border">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="button" id="btnSave" ng-disabled="metaForm.$invalid" class="btn btn-lg btn-primary btn-flat pull-right btnSave" data-ng-click="ShowConfirmModal()"><i class="fa fa-save"></i>  Save</button>
            </div>
        </div>
    </div>

    <div id="viewerModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="modal-title">Image Viewer</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger btn-sm btn-flat pull-right" ng-click="CloseModalView('viewerModal')"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                <button type="button" class="btn btn-flat btn-sm btn-info btn-flat pull-right" data-ng-click="ZoomIn()"><span class="glyphicon glyphicon-zoom-in"></span> Zoom In</button>
                                <button type="button" class="btn btn-flat btn-sm btn-info btn-flat pull-right" data-ng-click="ZoomOut()"><span class="glyphicon glyphicon-zoom-out"></span> Zoom Out</button>

                            </div>
                        </div>
                    </div>           
                </div>

                <div class="modal-body">
                    <div class="box-body">                      
                        <div id="dwtLargeViewer" class="box-body"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mydiv" data-ng-show="loading">
        <div class="overlay">
            <div class="loder">
                <img src="~/Content/AdminLTE/img/cube.gif" /> <span class="text-bold">Loading...</span>
            </div>
        </div>
    </div>


    <div id="viewerInitialModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">                   
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="modal-title">Image Viewer</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger btn-sm btn-flat pull-right" ng-click="CloseModalView('viewerInitialModal')"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                <button type="button" class="btn btn-sm btn-primary btn-flat pull-right" data-ng-click="AddToList()"><span class="glyphicon glyphicon-plus"></span> Add To List</button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="box-body">                                      

                        <div id="dwtInitialViewer" class="box-body"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="ConfirmSave" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Are You Sure?</h3>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <h4>You Want to Upload the Documents?</h4>
                        </div>
                    </div><!-- /.box-body -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="yes" class="btn btn-danger" ng-disabled="loading" data-ng-click="SaveImage()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/plugin/Select2/js/select2.min.js"></script>
<script type="text/javascript" src="~/NgScripts/Controller/DocumentScanCtr.js"></script>
<script type="text/javascript" src="~/NgScripts/Services/ImageProcessServices.js"></script>
<script type="text/javascript" src="~/NgScripts/Base/environmentServices.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" type="text/javascript"></script>



<script src="https://cdn.asprise.com/scannerjs/scanner.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Base64/1.2.0/base64.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf-lib/1.17.1/pdf-lib.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<script>
    ////
    //// Please read scanner.js developer's guide at: http://asprise.com/document-scan-upload-image-browser/ie-chrome-firefox-scanner-docs.html
    ////

    ///** Initiates a scan */
    //function scanToJpg() {
    //    scanner.scan(displayImagesOnPage,
    //        {
    //            "output_settings": [
    //                {
    //                    "type": "return-base64",
    //                    "format": "jpg"
    //                }
    //            ]
    //        }
    //    );
    //}

    ///** Processes the scan result */
    //function displayImagesOnPage(successful, mesg, response) {
    //    if (!successful) { // On error
    //        console.error('Failed: ' + mesg);
    //        return;
    //    }

    //    if (successful && mesg != null && mesg.toLowerCase().indexOf('user cancel') >= 0) { // User cancelled.
    //        console.info('User cancelled');
    //        return;
    //    }

    //    var scannedImages = scanner.getScannedImages(response, true, false); // returns an array of ScannedImage
    //    for (var i = 0; (scannedImages instanceof Array) && i < scannedImages.length; i++) {
    //        var scannedImage = scannedImages[i];
    //        processScannedImage(scannedImage);
    //    }
    //}

    ///** Images scanned so far. */
    //var imagesScanned = [];

    ///** Processes a ScannedImage */
    //function processScannedImage(scannedImage) {
    //    imagesScanned.push(scannedImage);
    //    var elementImg = scanner.createDomElementFromModel({
    //        'name': 'img',
    //        'attributes': {
    //            'class': 'scanned',
    //            'src': scannedImage.src
    //        }
    //    });
    //    document.getElementById('images').appendChild(elementImg);
    //}

    //    //< !--Previous lines are same as demo - 01, below is new addition to demo - 02 -- >

    //    /** Upload scanned images by submitting the form */
    //    function submitFormWithScannedImages() {
    //        if (scanner.submitFormWithImages('form1', imagesScanned, function (xhr) {
    //            if (xhr.readyState == 4) { // 4: request finished and response is ready
    //                document.getElementById('server_response').innerHTML = "<h2>Response from the server: </h2>" + xhr.responseText;
    //                document.getElementById('images').innerHTML = ''; // clear images
    //                imagesScanned = [];
    //            }
    //        })) {
    //            document.getElementById('server_response').innerHTML = "Submitting, please stand by ...";
    //        } else {
    //            document.getElementById('server_response').innerHTML = "Form submission cancelled. Please scan first.";
    //        }
    //    }

</script>

<style>
    img.scanned {
        height: 200px; /** Sets the display size */
        margin-right: 12px;
    }

    div#images {
        margin-top: 20px;
    }
</style>



