
@{ Layout = "~/Views/Shared/_AdminLteLayout.cshtml"; }

<style>
    #filedrag {
        /*display: none;*/
        font-weight: bold;
        text-align: center;
        padding: 1em 0;
        margin: 1em 0;
        color: #555;
        border: 2px dashed #555;
        border-radius: 7px;
        cursor: default;
    }

        #filedrag.hover {
            color: #f00;
            border-color: #f00;
            border-style: solid;
            box-shadow: inset 0 3px 4px;
        }
</style>

<div class="box box-primary box-body" ng-controller="DocumentDistributionSearchCtr">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-lg-6">
                <i class="fa  fa-table"></i>
                <h3 class="box-title">Document Distribution Search</h3>
            </div>

            <div class="col-lg-6">
                <table class="pull-right">
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="box-tools ">
                                <button type="button" name="View" id="btnView" class="btn btn-primary btn-flat pull-right" ng-click="View()"><i class="fa fa-search"></i>  View </button>
                               <button type="button" id="btnRefresh" data-ng-click="toggleRefreshTable()" class="btn btn-default btn-flat pull-right" ng-disabled="loading"><i class="fa fa-refresh"></i> Refresh</button>

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Date Between:</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="DatePicker" placeholder="yyyy-mm-dd" id="FromDate" style="width: 120px;" ng-model="FromDate" ng-change="validateDates()" />
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="DatePicker" placeholder="yyyy-mm-dd" id="ToDate" style="width: 120px;" ng-model="ToDate" ng-change="validateDates()" />

                </div>


                <p ng-show="isDateInvalid">To Date must be greater than or equal to From Date.</p>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                <select class="form-control" style="font-size: small; height: 28px; color: #ffffff; background-color: #367FA9; "  required="required" data-ng-model="DistributionShare" ng-change="loadDataMode()">                
                    <option value="Distribution">Distribution Data</option>
                    <option value="Share">Share Data</option>
                </select>
            </div>

                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label>Distribution/Share Of </label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <select class="form-control" data-ng-model="DistributionOf" required="required" ng-change="loadPropertyIdentify()">
                        <option value="">-- Select --</option>
                        <option value="Original">Original</option>
                        <option value="Version">Version</option>
                    </select>
                </div>

            </div>
            <br />
            <div class="row">
                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Document Name</th>
                            <th>Identificaiton Attribute</th>
                            <th>Attribute Value</th>
                            <th class="hidden">FileServerURL</th>
                            <th>Operation Who / Whom</th>
                            <th>Action</th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr ng-repeat="row in GridDisplayCollection">
                            <td class="hidden">{{row.DocumentID}}</td>
                            <td class="hidden">{{row.DocDistributionID}}</td>
                            <td class="col-lg-2">{{row.DocPropertyName}}</td>
                            <td class="col-lg-3">{{row.DocPropIdentifyName}}</td>
                            <td class="col-lg-3">{{row.MetaValue}}</td>
                            <td class="hidden">{{row.FileServerURL}}</td>
                            <td class="col-lg-3">{{row.DistributionTo}}</td>
                            <td class="col-lg-4 col-md-4 col-sm-4 text-center">
                                <button type="button" class="btn btn-sm btn-info btn-flat" data-ng-click="LoadImage(row)" style="display: inline-block;"><i class="fa fa-hand-o-down"></i> View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div ng-if="pagingInfo.totalItems > 0" class="text-center">
                    <ul uib-pagination total-items="pagingInfo.totalItems" ng-model="pagingInfo.page" items-per-page="{{pagingInfo.itemsPerPage}}" max-size="7" boundary-links="true" rotate="true" force-ellipses="true" ng-change="selectPage()"></ul>
                </div>
                <div ng-if="pagingInfo.totalItems <= 0" class="text-center">
                    NO ITEM
                </div>
            </div>
            @*<div class="row">
            <div class="col-lg-12">
                <div class="external-event bg-aqua" ng-click="LoadImagePDF()" style="position: relative;">
                    <i class="fa fa-pagelines"></i> Load PDF
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="dwtHorizontalThumbnil"></div>
            </div>
        </div>*@

            <div class="row">
                <div class="col-lg-12">
                    <div class="external-event bg-aqua" style="position: relative;">
                        <i class="fa fa-book"></i>  PDF Viewer
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="dwtLargeViewer" class="box-body"> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="dwtVerticalThumbnil" class="box-body"></div>
                </div>
            </div>

        </div>

    <div class="box-footer with-border">


    </div>

    <div id="viewerModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="modal-title">Document  View</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <button type="button" class="btn btn-danger btn-sm btn-flat pull-right" ng-click="CloseModalView('viewerModal')"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="showPDF(row);"><span class="glyphicon glyphicon-print"></span> Print </button>
                                @*<button class="btn btn-flat btn-sm btn-default pull-right" data-ng-click="ZoomIn()"><span class="glyphicon glyphicon-zoom-in"></span> Zoom In</button>
                                <button class="btn btn-flat btn-sm btn-default pull-right" data-ng-click="ZoomOut()"><span class="glyphicon glyphicon-zoom-out"></span> Zoom Out</button>*@

                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-body">
                    <div class="box-body">

                        <div id="dwtLargeViewer" class="box-body"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mydiv" data-ng-show="loading">
        <div class="overlay">
            <div class="loder">
                <img src="~/Content/AdminLTE/img/cube.gif" /> <span class="text-bold">Loading...</span>
            </div>
        </div>
    </div>
</div>

<script src="~/NgScripts/Controller/DocumentDistributionSearchCtr.js"></script>

<script type="text/javascript" src="~/NgScripts/Services/ImageProcessServices.js"></script>
<script type="text/javascript" src="~/NgScripts/Base/environmentServices.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $('.DatePicker').datepicker({
        format: "yyyy-mm-dd"
    });


  




</script>

<script type="text/javascript">
    app.directive('editInPlace', function () {
        return {
            restrict: 'E',
            scope: { value: '=' },
            template: '<input ng-model="value"></input>',
            link: function ($scope, element, attrs) {
                // Let's get a reference to the input element, as we'll want to reference it.
                var inputElement = angular.element(element.children()[1]);

                // This directive should have a set class so we can style it.
                element.addClass('edit-in-place');

                // Initially, we're not editing.
                $scope.editing = false;

                // ng-click handler to activate edit-in-place
                $scope.edit = function () {
                    $scope.editing = true;

                    // We control display through a class on the directive itself. See the CSS.
                    element.addClass('active');

                    // And we must focus the element.
                    // `angular.element()` provides a chainable array, like jQuery so to access a native DOM function,
                    // we have to reference the first element in the array.
                    inputElement[0].focus();
                };

                // When we leave the input, we're done editing.
                inputElement.prop('onblur', function () {
                    $scope.editing = false;
                    element.removeClass('active');
                });
            }
        };
    });</script>
