@{ Layout = "~/Views/Shared/_AdminLteLayout.cshtml"; }

<style>
    .btn-very-small {
        padding: 5px 10px; /* Adjust padding to make the button smaller */
        font-size: 11px; /* Adjust font size to make the text smaller */
        line-height: 1; /* Set line-height to 1 to minimize the height */
    }
</style>
<div class="box box-primary box-body" ng-controller="VersioningOriginalDocCtr">

    <div class="box-header with-border">


        <div class="row">
            <div class="col-lg-6">
                <i class="fa  fa-table"></i>
                <h3 class="box-title">Versioning of Original Document</h3>

            </div>
            <div class="col-lg-6">
                <table class="pull-right">
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" style="height: 34px;" ng-model="pagingInfo.search" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat" ng-click="search()"><i class="fa fa-search"></i> Search </button>
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="box-tools ">
                                <button type="button" id="btnRefresh" data-ng-click="toggleRefreshTable()" class="btn btn-default btn-flat pull-right" ng-disabled="loading"><i class="fa fa-refresh"></i> Refresh</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Owner Level</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <select class="form-control" ng-model="docPropIdentityModel.OwnerLevel"
                            ng-options="ownerLevel as ownerLevel.LevelName for ownerLevel in ownerLevels
                        track by ownerLevel.OwnerLevelID">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label for="Owner">Owner</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <select class="form-control" ng-model="docPropIdentityModel.Owner"
                            data-ng-options="owner as owner.OwnerName for owner in ownersForSpecificOwnerLevel track by owner.OwnerID"
                            data-ng-disabled="!docPropIdentityModel.OwnerLevel">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Document Category</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <select class="form-control" data-ng-model="docPropIdentityModel.DocCategory"
                            data-ng-options="docCategory as docCategory.DocCategoryName for docCategory in
                         docCategoriesForSpecificOwner track by docCategory.DocCategoryID"
                            data-ng-disabled="!docPropIdentityModel.Owner">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Doc Sub Category</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <select class="form-control" data-ng-model="docPropIdentityModel.DocType"
                            data-ng-options="docType as docType.DocTypeName for docType in
                         docTypeForSpecificDocCategory track by docType.DocTypeID"
                            data-ng-disabled="!docPropIdentityModel.DocCategory">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>Documents</label>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <select class="form-control" data-ng-model="docPropIdentityModel.DocProperty"
                        data-ng-options="docProperty as docProperty.DocPropertyName for docProperty in
                         docPropertyForSpecificDocType track by docProperty.DocPropertyID"
                        data-ng-disabled="!docPropIdentityModel.DocType">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <label>Search By</label>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <select data-ng-model="docPropIdentityModel.SearchBy"
                        class="form-control" required="required" data-ng-disabled="!docPropIdentityModel.DocProperty">
                    <option value="" selected="selected">--Select--</option>
                    <option value="1">Required Attribute</option>
                    <option value="0">Optional Attribute</option>
                </select>
            </div>
        </div>
        <br />


        <div class="row">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Doc No.</th>
                        <th>Identificaiton Attribute</th>
                        <th>Attribute Value</th>
                        <th class="hidden">FileServerURL</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in GridDisplayCollection">
                        <td class="col-lg-1">{{row.DocumentID}}</td>
                        <td class="hidden">{{row.DocDistributionID}}</td>
                        <td class="col-lg-4">{{row.DocPropIdentifyName}}</td>
                        <td class="col-lg-4">{{row.MetaValue}}</td>
                        <td class="hidden">{{row.FileServerURL}}</td>
                        <td class="col-lg-3">
                            <button type="button" class="btn btn-xs btn-default btn-flat" data-ng-click="LoadImage(row)" style="display: inline-block;"><i class="fa fa-search-plus"></i> Quick View</button>
                            <button type="button" class="btn btn-xs btn-success btn-flat btnMakeVersion" data-ng-click="ShowDetailView(row)" style="display: inline-block;"><i class="fa fa-list"></i> Make Version</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="pagingInfo.totalItems > 0" class="text-center">
                <ul uib-pagination total-items="pagingInfo.totalItems" ng-model="pagingInfo.page" items-per-page="{{pagingInfo.itemsPerPage}}" max-size="7" boundary-links="true" rotate="true" force-ellipses="true" ng-change="selectPage()"></ul>
            </div>
            <div ng-if="pagingInfo.totalItems <= 0" class="text-center">
                NO ITEM
            </div>
        </div>
    </div>



    @*<div class="bs-example">*@

    <div id="DetailViewModal" class="modal fade">
        <div class="modal-dialog" style=" width: 98%; margin: 10px">
            <div class="modal-content">
                <form name="myForm" novalidate>
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="modal-title">Edit Original Documents</h6>
                            </div>
                            <div class="col-md-4">
                                <p style="font-size:xx-small;text-align:right;">StartX: {{ startX }}, StartY: {{ startY }}, EndX: {{ endX }}, EndY: {{ endY }}</p>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger btn-sm btn-flat pull-right" ng-click="CloseModalView('DetailViewModal')"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                    <button type="button" class="btn btn-primary btn-sm btn-flat pull-right" ng-click="SaveImage();"><i class="fa fa-save"></i> Save </button>
                                    <button type="button" class="btn btn-info btn-sm btn-flat pull-right" ng-click="showPDF();"><span class="glyphicon glyphicon-print"></span> Print </button>
                                    <button type="button" class="btn btn-default btn-sm btn-flat pull-right" data-ng-click="PopupRefresh()" @*ng-disabled="loading"*@><i class="fa fa-refresh"></i> Refresh</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row" style="margin-top:-20px">
                            <div ng-repeat="item in DocumentsAttributeList" class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>{{item.IdentificationAttribute}}</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" name="{{item.DocPropIdentifyID}}" id="{{item.DocPropIdentifyID}}" ng-model="item.MetaValue" ng-required="true" />
                                        <span class="label label-danger" ng-show="myForm[item.DocPropIdentifyID].$error.required && myForm[item.DocPropIdentifyID].$touched">{{item.IdentificationAttribute}} is Required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" style="margin-top:-15px">
                            <div class="col-lg-12" style="font-size:xx-small; text-align:right">

                                <button class="btn btn-flat btn-very-small btn-default" data-ng-click="Crop()" ng-disabled="isDisabledCrop" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the plotted selected area on the chosen page."><i class="fa fa-crop"></i> Crop</button>
                                <button class="btn btn-flat btn-very-small btn-default" data-ng-click="Masking()" ng-disabled="isDisabledMasking" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the plotted selected area on the chosen page."><span class="glyphicon glyphicon-adjust"></span> Masking</button>
                                <button class="btn btn-flat btn-very-small btn-default" data-ng-click="HighlightPage()" ng-disabled="isDisabledHighlight" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the plotted selected area on the chosen page."><span class="glyphicon glyphicon-asterisk"></span> Highlight</button>
                                <button class="btn btn-flat btn-very-small btn-default" data-ng-click="RotateRight()" ng-disabled="isDisabledRotate" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the selected page."><i class="fa fa-rotate-right"></i> Rotate Clockwise</button>
                                <button class="btn btn-flat btn-very-small btn-default" data-ng-click="RotateLeft()" ng-disabled="isDisabledRotate" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the selected page."><i class="fa fa-rotate-left"></i> Rotate Anticlockwise</button>
                                <button class="btn btn-flat btn-very-small btn-default" data-ng-click="RemovePage()" ng-disabled="isDisabledRemove" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the selected page."><i class="fa fa-remove"></i> Remove</button>
                                <button class="btn btn-flat btn-very-small btn-info" data-ng-click="ShowReSizeDiv()" ng-disabled="isDisabledReSize" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the provided inputs on the selected page."><span class="glyphicon glyphicon-resize-full"></span> ReSize</button>
                                <button class="btn btn-flat btn-very-small btn-info" data-ng-click="ShowAddTextDiv()" ng-disabled="isDisabledAddText" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the provided inputs on the selected page."><i class="fa fa-file-text"></i> Add Text</button>
                                <button class="btn btn-flat btn-very-small btn-info" data-ng-click="ShowMoveImageDiv()" ng-disabled="isDisabledMoveImage" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the provided inputs between pages."><i class="fa fa-exchange"></i>  Move Image</button>
                                <button class="btn btn-flat btn-very-small btn-info" data-ng-click="ShowAddImageDiv()" ng-disabled="isDisabledAddImage" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the provided inputs on the selected page."><i class="fa fa-plus-square"></i> Add Image</button>
                                <button class="btn btn-flat btn-very-small btn-info" data-ng-click="ShowWatermarkDiv()" ng-disabled="isDisabledWatermark" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the provided inputs on all pages."><i class="fa fa-file"></i> Watermark</button>
                                <button class="btn btn-flat btn-very-small btn-info" data-ng-click="Ocr()" ng-disabled="isDisabledOcr" data-toggle="tooltip" data-placement="bottom" title="This option will perform actions based on the provided inputs on all pages."> Ocr</button>
                            </div>
                        </div>

                        <br />
                        <div id="ReSize" class="row hidden">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-1">Height:</div>
                                    <div class="col-lg-3"><input type="number" id="NewImageHeight" placeholder="500" style="width: 70px;" /></div>
                                    <div class="col-lg-1">Width:</div>
                                    <div class="col-lg-3"><input type="number" id="NewImageWidth" placeholder="500" style="width: 70px;" /></div>
                                    <div class="col-lg-2"> <button class="btn btn-primary btn-flat btn-very-small" ng-click="ReSize()">ReSize</button></div>
                                </div>
                            </div>
                        </div>
                        <div id="AddWatermark" class="row hidden">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-1">Image:</div>
                                    <div class="col-lg-3"><input type="file" id="watermark" accept="image/jpeg, image/png, image/gif" /></div>
                                    <div class="col-lg-1">Height:</div>
                                    <div class="col-lg-2"><input type="number" id="watermark_height" placeholder="500" size="5" style="width: 70px;" /></div>
                                    <div class="col-lg-1">Width:</div>
                                    <div class="col-lg-2"><input type="number" id="watermark_width" placeholder="500" size="5" style="width: 70px;" /></div>
                                    <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-very-small" ng-click="AddWatermark()">Add Watermark</button></div>
                                </div>

                            </div>
                        </div>
                        <div id="AddImage" class="row hidden">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-1">Image:</div>
                                    <div class="col-lg-3"><input type="file" id="image_file" accept="image/jpeg, image/png, image/gif" /></div>
                                    <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-very-small" ng-click="AddImage()">Add Image</button></div>
                                </div>
                            </div>
                        </div>
                        <div id="AddText" class="row hidden">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-1">Text:</div>
                                    <div class="col-lg-2"><input type="text" id="TextToAdd" /></div>
                                    <div class="col-lg-2">Color:<input type="color" id="favcolor" name="favcolor" value="#ff0000"></div>
                                    @*<div class="col-lg-2"><input type="number" id="ColorToAddR" value="255" placeholder="255" style="width: 70px;" /> </div>
                                    <div class="col-lg-2"><input type="number" id="ColorToAddG" value="0" placeholder="255" style="width: 70px;" /> </div>
                                    <div class="col-lg-1"><input type="number" id="ColorToAddB" value="0" placeholder="0" style="width: 70px;" /> </div>*@
                                    <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-very-small" ng-click="AddText()">Add Text</button> </div>
                                </div>
                            </div>
                        </div>
                        <div id="MoveImage" class="row hidden">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-2"> Which Image:</div>
                                    <div class="col-lg-3"><input type="number" id="WhichImage" placeholder="1" style="width: 70px;" /> </div>
                                    <div class="col-lg-1"> Where:</div>
                                    <div class="col-lg-3"><input type="number" id="Where" placeholder="2" style="width: 70px;" /> </div>
                                    <div class="col-lg-2"><button class="btn btn-primary btn-flat btn-very-small" ng-click="MoveImage()">Move</button></div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-lg-12"><p style="font-size:xx-small;text-align:right">StartX: {{ startX }}, StartY: {{ startY }}, EndX: {{ endX }}, EndY: {{ endY }}</p>  </div>
                            </div>*@
                        @*<div class="row">
                                <div class="col-lg-2" style="padding-right:0">
                                    <div id="dwtVerticalThumbnil" class="box-body"></div>
                                </div>
                                <div class="col-lg-10" style="padding-left:0">
                                    <div id="dwtLargeViewer" class="box-body"> </div>
                                </div>
                            </div>*@
                        <div class="row" style="margin-top:-30px">

                            <div class="col-lg-12">
                                <div id="dwtLargeViewer" class="box-body"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="dwtVerticalThumbnil" class="box-body"></div>
                            </div>

                        </div>
                        <div class="row" hidden>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" id="DocumentID" size="10" />
                                    <input type="text" id="ServerIP" size="10" />
                                    <input type="text" id="ServerPort" size="5" />
                                    <input type="text" id="FtpUserName" size="10" />
                                    <input type="text" id="FtpPassword" size="10" />
                                    <input type="text" id="FileServerURL" size="30" />
                                    <input type="text" id="IsObsolutable" size="10" />
                                    <input type="text" id="IsSecured" size="10" />
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
        <div class="mydiv" data-ng-show="loading">
            <div class="overlay">
                <div class="loder">
                    <img src="~/Content/AdminLTE/img/cube.gif" /> <span class="text-bold">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    @*</div>*@


    <div id="QuickViewModal" class="modal fade">
        <!-- Modal Window QuickView -->
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="myForm" novalidate>
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="modal-title">Document Quick View</h6>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger btn-sm btn-flat pull-right" ng-click="CloseModalView('QuickViewModal')"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                    <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="showPDF(row);"><span class="glyphicon glyphicon-print"></span> Print </button>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="dwtQuickViewer" class="box-body"></div>
                        </div>
                        <div class="row" hidden>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div ng-repeat="item in DocumentsAttributeList" class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{item.DocMetaID}}" class="control-label" style="font-size:smaller;">{{item.DocPropIdentifyName}} Remarks</label>
                                        <input type="text" name="{{item.DocMetaID}}" id="{{item.DocMetaID}}" ng-model="item.Remarks" ng-required="true" style="width: 150px; height: 25px; font-size: smaller" class="form-control" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mydiv" data-ng-show="loading">
            <div class="overlay">
                <div class="loder">
                    <img src="~/Content/AdminLTE/img/cube.gif" /> <span class="text-bold">Loading...</span>
                </div>
            </div>
        </div>
    </div>




    <div id="ocrModal" class="modal fade">
        <!-- Modal Window OCR -->
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="myForm" novalidate>
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="modal-title">OCR View</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger btn-sm btn-flat pull-right" ng-click="CloseModalView('ocrModal')"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                    <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="SaveImage();"><i class="fa fa-save"></i> Save </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <input type="hidden" id="DocumentID" />
                                <div ng-repeat="item in DocumentsAttributeList" class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>{{item.IdentificationAttribute}}</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" name="{{item.DocPropIdentifyID}}" id="{{item.DocPropIdentifyID}}" ng-model="item.MetaValue" ng-required="true" />
                                            <span class="label label-danger" ng-show="myForm[item.DocPropIdentifyID].$error.required && myForm[item.DocPropIdentifyID].$touched">{{item.IdentificationAttribute}} is Required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="dwtOCRViewer" class="box-body"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>







    <div class="mydiv" data-ng-show="loading">
        <div class="overlay">
            <div class="loder">
                <img src="~/Content/AdminLTE/img/cube.gif" /> <span class="text-bold">Loading...</span>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript" src="~/NgScripts/Controller/VersioningOriginalDocCtr.js?v=2"></script>
<script type="text/javascript" src="~/NgScripts/Services/ImageProcessServices.js"></script>
<script type="text/javascript" src="~/NgScripts/Base/environmentServices.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" rel="stylesheet" type="text/css" />




<style>
    .no-pointer-events {
        pointer-events: none;
        background-color: whitesmoke;
    }

    .tooltip {
        background-color: orangered;
        color: white;
    }
</style>


